In [9]:
!ls data/transit_lines

cities.csv        station_lines.csv systems.csv       tracks.csv
lines.csv         stations.csv      track_lines.csv

In [5]:
!head data/transit_lines

head: Error reading data/transit_lines

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
transit = ['data/transit_lines/cities.csv', 'data/transit_lines/lines.csv', 
           'data/transit_lines/station_lines.csv', 'data/transit_lines/stations.csv', 
           'data/transit_lines/systems.csv', 'data/transit_lines/track_lines.csv', 
           'data/transit_lines/tracks.csv']
cities, lines, station_lines, stations, systems, track_lines, tracks = [pd.read_csv(i) for i in transit]
# lines = pd.read_csv('data/transit_lines/lines.csv')
# station_lines.csv = pd.read_csv('data/transit_lines/statlines.csv')
cities

,id,name,coords,start_year,url_name,country,country_state
0,5,Aberdeen,POINT(-2.15 57.15),2017.0,aberdeen,Scotland,NaN
1,6,Adelaide,POINT(138.6 -34.91666667),2017.0,adelaide,Australia,NaN
2,7,Algiers,POINT(3 36.83333333),2017.0,algiers,Algeria,NaN
3,9,Ankara,POINT(32.91666667 39.91666667),2017.0,ankara,Turkey,NaN
4,16,Belém,POINT(-48.48333333 -1.466666667),2017.0,belem,Brazil,NaN
5,10,Asunción,POINT(-57.66666667 -25.25),2017.0,asuncion,Paraguay,NaN
6,11,Athens,POINT(23.71666667 37.96666667),2017.0,athens,Greece,NaN
7,12,Auckland,POINT(174.75 -36.86666667),2017.0,auckland,New Zealand,NaN
8,13,Bangkok,POINT(100.5 13.75),2017.0,bangkok,Thailand,NaN
9,211,Ottawa,POINT(-75.71666667 45.4),2000.0,ottawa,Canada,Ont.
10,17,Belfast,POINT(-5.933333333 54.61666667),2017.0,belfast,Northern Ireland,NaN
11,18,Belgrade,POINT(20.53333333 44.86666667),2017.0,belgrade,Serbia,NaN
12,273,St.-Brieuc,POINT(-2.783303265 48.51666262),2018.0,st.-brieuc,France,NaN
13,274,Poitier,POINT(0.333276529 46.58329226),2018.0,poitier,France,NaN
14,147,Chicago,POINT(-87.61666667 41.83333333),1892.0,chicago,United States,Ill.
15,269,Annecy,POINT(6.116670287 45.89997479),2018.0,annecy,France,NaN
16,270,Roanne,POINT(4.066666218 46.03332583),2018.0,roanne,France,NaN
17,271,Roura,POINT(-52.33002059 4.729981302),2018.0,roura,France,NaN
18,272,Sinnamary,POINT(-52.95998214 5.380019144),2018.0,sinnamary,France,NaN
19,276,Biarritz,POINT(-1.561594891 43.47327537),2018.0,biarritz,France,NaN
20,277,Aix-en-Provence,POINT(5.449992634 43.51999086),2018.0,aix-en-provence,France,NaN
21,278,Perpignan,POINT(2.899967406 42.69998924),2018.0,perpignan,France,NaN
22,279,Tarbes,POINT(0.083343464 43.23329002),2018.0,tarbes,France,NaN
23,280,Clermont-Ferrand,POINT(3.080008096 45.77998212),2004.0,clermont-ferrand,France,NaN
24,8,Amsterdam,POINT(4.883333333 52.36666667),1980.0,amsterdam,Netherlands,NaN
25,268,San Sebastián,POINT(-1.98 43.32),1912.0,san-sebastian,Spain,NaN
26,20,Birmingham,POINT(-1.916666667 52.41666667),2017.0,birmingham,England,NaN
27,22,Bombay,POINT(72.8 19),2017.0,bombay,India,NaN
28,24,Bremen,POINT(8.816666667 53.08333333),2017.0,bremen,Germany,NaN
29,25,Brisbane,POINT(153.1333333 -27.48333333),2017.0,brisbane,Australia,NaN
...,...,...,...,...,...,...,...
304,247,Toronto,POINT(-79.4 43.66666667),1949.0,toronto,Canada,Ont.
305,253,Wichita,POINT(-97.28333333 37.71666667),2017.0,wichita,United States,Kan.
306,254,Wilmington,POINT(-77.95 34.23333333),2017.0,wilmington,United States,N.C.
307,257,Sevilla,POINT(-5.983333 37.383333),2017.0,sevilla,Spain,NaN
308,255,Winnipeg,POINT(-97.11666667 49.9),2013.0,winnipeg,Canada,Man.
309,256,Valencia,POINT(-0.375 39.466667),1994.0,valencia,Spain,NaN
310,259,Rosario,POINT(-60.65 -32.95),2017.0,rosario,Argentina,NaN
311,260,Mendoza,POINT(-68.833333 -32.883333),2017.0,mendoza,Argentina,NaN
312,71,Madrid,POINT(-3.7 40.43333333),1916.0,madrid,Spain,NaN
313,14,Barcelona,POINT(2.15 41.38333333),1848.0,barcelona,Spain,NaN
314,78,Mexico City,POINT(-99.11666667 19.43333333),1967.0,mexico-city,Mexico,NaN
315,126,Guadalajara,POINT(-103.351944 20.666111),1987.0,guadalajara,México,NaN
316,66,Lima,POINT(-77.018611 -12.035),1984.0,lima,Peru,NaN
317,258,Bilbao,POINT(-2.953333 43.262222),1887.0,bilbao,Spain,NaN
318,118,Vienna,POINT(16.33333333 48.23333333),1978.0,vienna,Austria,NaN
319,107,Shanghai,POINT(121.4666667 31.16666667),1990.0,shanghai,China,NaN
320,21,Bogotá,POINT(-74.0904236 4.6304949),1872.0,bogota,Colombia,NaN
321,4,Santiago,POINT(-70.6544495 -33.453214),1850.0,santiago-de-chile,Chile,NaN
322,1,Buenos Aires,POINT(-58.4122003 -34.6050499),1854.0,buenos-aires,Argentina,NaN
323,261,Concepción,POINT(-73.05 -36.833333),1999.0,concepcion,Chile,NaN
324,262,Genoa,POINT(8.932778 44.411111),1982.0,genoa,Italy,NaN
325,263,Graz,POINT(15.433333 47.066667),1896.0,graz,Austria,Steiermark
326,264,Zaragoza,POINT(-0.883333 41.65),2008.0,zaragoza,Spain,Aragón
327,267,Innsbruck,POINT(11.383333 47.266667),2017.0,innsbruck,Austria,NaN
328,252,Washington,POINT(-77.03333333 38.88333333),1969.0,washington,United States,D.C.
329,265,Nantes,POINT(-1.553889 47.217222),1877.0,nantes,France,NaN
330,110,Stockholm,POINT(18.05 59.28333333),1919.0,stockholm,Sweden,NaN
331,266,Rennes,POINT(-1.680833 48.114167),1897.0,rennes,France,NaN
332,15,Beijing,POINT(116.4166667 39.91666667),1965.0,beijing,China,NaN
333,69,London,POINT(-0.08333333333 51.53333333),1833.0,london,England,NaN

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

/Users/ilya/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)